body {
  background-color: rgb(211, 204, 218);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  padding: 30px;
  gap: 8px;
  margin: 30px;
  background-color: black;
}

.grid-container div {
  padding: 20px;
}

.grid-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: red;
}

.grid-2 {
  grid-row: 1 / span 2;
  background-color: yellow;
}

.grid-3 {
  grid-row: 3 / span 2;
  background-color: green;
}

.grid-4 {
  grid-column: 2 / 4;
  /* grid-row: 2/4; */
  background-color: blue;
}

.grid-5 {
  grid-column: 2 /4;
  background-color: blue;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}

.btn {
  background-color: brgb(97, 94, 91);
}

.btn-center {
  justify-items: center;
}
